{% extends "projects/base.html" %}

{% block title %}{{ project.name }} | Documentos | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul>
    <li class="first"><a href="/">Inicio</a>
        <ul>
            <li><a href="{% url project-list %}">Proyectos</a>
                <ul>
                    <li><a href="{% url project-detail project.slug %}">{{ project.name }}</a>
                        <ul>
                            <li>Documentos
                            </li>
                        <ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block main-content %}
<h2>{{ project.name }}: Documentos</h2>

{% for document in document_list %}
<h3><a href="{{ document.get_absolute_url }}">{{ document.title }} (r{{ document.revision}})</a></h3>
{% endfor %}
{% endblock %}
