{% extends "projects/base.html" %}

{% load markup %}

{% block title %}{{ project.name}} v{{ release.version }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul>
    <li class="first"><a href="/">Inicio</a>
        <ul>
            <li><a href="{% url project-list %}">Proyectos</a>
                <ul>
                    <li><a href="{% url project-detail project.slug %}">{{ project.name }}</a>
                        <ul>
                            <li><a href="{% url release-list project.slug %}">Releases</a>
                                <ul>
                                    <li>{{ release.version }}
                                    </li>
                                </ul>
                            </li>
                        <ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block main-content %}

<h2>{{ project.name }}: {{ release.version }} </h2>
<h3>{{ release.name }} ({{ release.released|date:"j F Y"|title }})</h3>

<h4>Notas</h4>

{{ release.notes|markdown }}

{% if release.downloads.all or release.links.all %}
<h4>Archivos</h4>
<ul>
    {% for download in release.downloads.all %}
    <li><a href="{{ download.download.url }}">{{ download.download }}</a> ({{ download.download.size|filesizeformat }})</li>
    {% endfor %}
    {% for link in release.links.all %}
    <li>{{ link|urlize }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
